<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <node pkg="tf2_ros" type="static_transform_publisher" name="sonar_1_broadcaster" args="1 0 0 0 0 0 base_link sonar_1_link" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="sonar_2_broadcaster" args="-1 0 0 3.14159 0 0 base_link sonar_2_link" />
    
</launch>